
.center 
{
    margin: auto;
    width: 50%;
    padding: 10px;
}

head
{
    text-align: center;
    align-items: center;
    padding: 10px;
}

p 
{
    text-align: center;
    color: #ababab;
    padding-left: 25%;
    padding-right: 25%;
}