
html{
    overflow-x:hidden;
}

.center {
    font-size: 100%;
    margin: auto;
    width: 50%;
    padding: 1vw;
}

head {
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 1vw;
}

body
{
	font-size: 100%;
    	text-align: center;
    	align-items: center;
    	padding: 1vw;
    	background-color: #444444;
}

p {
    font-size: 100%;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

h1 {
    font-size: min(5vw,40px);
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: max(3vw, 10px);
}

@keyframes slideLeft {
    0% {
        transform: translateX(0vw);
        opacity: 100;
    }

    100% {
        transform: translateX(-50vw);
        opacity: 0;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0vw);
        opacity: 100;
    }

    100% {
        transform: translateX(50vw);
        opacity: 0;
    }
}

h3 {
    font-size: min(4vw,32px);
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: max(-5vw, -40px);
    margin-bottom: -3vw; 
}

header {
    font-size: 1vw;
    font-family: "Tektur", sans-serif;
    background-color: #ff4d4d;
    margin-top: min(0.1vw, 1px);
}

input {
    font-size: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Tektur", sans-serif;
    width: 49vw;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

textarea {
	font-size: 100%;
  	padding-top: 1vh;
   	padding-bottom: 1vh;
 	font-family: "Tektur", sans-serif;
    	width: 50vw;
	margin-top: -1.3vh;
	margin-bottom: -1.5vh;
}

button {
    font-size: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-family: "Tektur", sans-serif;
    width: 10vw;
    margin-top: -1vh;
}

h-captcha {
    font-size: 100%;
    font-family: "Tektur", sans-serif;
    width: 50vw;
    margin-top: -4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

footer {
    font-size: 100%;
    font-family: "Tektur", sans-serif;
    background-color: #ff4d4d;
    text-align: center;
}

.formboxes {
    font-size: 100%;
    width: 59vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

.youtube-container {
    font-size: 100%;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 30vw;
    aspect-ratio: 16/9;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

iframe {
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

img {
    max-Width: 80px;
    max-height: 80px;
}

form {
    text-align: center;
    justify-content: center;
}

.tabContent {
    display: none;
    justify-content: center;
    animation: none;
    white-space: nowrap;
    margin-left: -25vw;
    margin-right: auto;
    position: absolute;
}

.tabText {
    display: block;
    text-align: center;
    font-size: min(1vw,32px);
    font-family: "Tektur", sans-serif;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    width: 25vw;
    margin-left: 25vw;
    white-space: pre-line;
    margin-top: 4vw;
    overflow: hidden;
}

later {
    display: none infinite;
}