
html {
    overflow-x: hidden;
}

.center {
    font-size: 100%;
    margin: auto;
    width: 50%;
    padding: 1vw;
}

head {
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 1vw;
}

body {
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 1vw;
    background-color: #444444;
}

p {
    font-size: 100%;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
}

h1 {
    font-size: min(5vw,40px);
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0vw);
        opacity: 100;
    }

    100% {
        transform: translateX(-100vw);
        opacity: 0;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0vw);
        opacity: 100;
    }

    100% {
        transform: translateX(100vw);
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(3vw);
    }
    50% {
        opacity: 1;
        transform: translateY(0vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0vw);
    }
}

h3 {
    font-size: min(4vw,32px);
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: auto;
    margin-bottom: auto;
}

header {
    text-align: center;
    align-content: center;
    align-items: center;
    font-size: 1vw;
    font-family: "Tektur", sans-serif;
    background-color: #ebbe94;
    margin-top: -1vw;
    justify-content: center;
    height: min(22vw,180px);
    width: min(60vw,500px);
    overflow: visible;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
}

input {
    font-size: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Tektur", sans-serif;
    width: 49vw;
    margin-top: -3vh;
    margin-bottom: -3vh;
}

textarea {
	font-size: 100%;
  	padding-top: 1vh;
   	padding-bottom: 1vh;
 	font-family: "Tektur", sans-serif;
    	width: 50vw;
	margin-top: -1.3vh;
	margin-bottom: -1.5vh;
}

button {
    font-family: "Tektur", sans-serif;
    margin-top: auto;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    height: min(4vw,50px);
    width: min(10vw,1000px);
    max-block-size: 100px;
    background-color: #e3a468;
    overflow: hidden;
    text-align: center;
    font-size: min(2vw,32px);
}

.submitButton {
    font-size: 100%;
    font-family: "Tektur", sans-serif;
    margin-top: auto;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    height: min(5vw,40px);
    width: min(20vw,1000px);
    max-block-size: 100px;
    background-color: #e3a468;
}


h-captcha {
    font-size: 100%;
    font-family: "Tektur", sans-serif;
    width: 50vw;
    margin-top: -4vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    display: inline-block;
}

footer {
    font-size: 100%;
    font-family: "Tektur", sans-serif;
    background-color: #ebbe94;
    text-align: center;
    animation: fadeIn linear;
    animation-timeline: scroll();
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    margin-left: auto;
    margin-right: auto;
}

.formboxes {
    font-size: 100%;
    width: 59vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}

iframe {
    text-align: center;
    align-items: center;
    white-space: nowrap;
}

img {
    max-Width: 80px;
    max-height: 80px;
}

form {
    text-align: center;
    justify-content: center;
    border-radius: 5% / 50%;
}

.tabHolder {
    white-space: nowrap; 
    margin-bottom: 1vh; 
    position: relative; 
    display: inline-flex; 
    height: min(25vw,400px); 
    width: min(70vw,1200px);
}

.tabContent {
    display: none;
    justify-content: center;
    animation: none;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-color: #ebbe94;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    margin-top: auto;
    height: min(25vw,400px);
    width: min(70vw,1200px);
    font-family: "Tektur", sans-serif;
    overflow: hidden;
    text-align: center;
}

.tabText {
    display: block;
    text-align: center;
    font-size: min(2vw,32px);
    font-family: "Tektur", sans-serif;
    text-align: center;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-left: 1vw;
    white-space: normal;
    margin-top: auto;
    overflow: hidden;
    left:0;
}

later {
    display: none infinite;
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

.video-container {
    font-size: 100%;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: min(30vw,600px);
    aspect-ratio: 16/9;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
}

.video {
    align-items: center;
    width: min(30vw,600px);
}

.youtube-container {
    font-size: 100%;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 30vw;
    aspect-ratio: 16/9;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
}


.about {
    animation: fadeIn linear;
    animation-timeline: view();
    background-color: #ebbe94;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    height: min(22.5vw,200px);
    width: min(80vw,500px);
    margin-left: auto;
    margin-right: auto;
    font-family: "Tektur", sans-serif;
    font-size: min(2vw,16px);
}

.skills {
    animation: fadeIn linear;
    animation-timeline: view();
    background-color: #ebbe94;
    border-radius: 5% / 50%;
    border-style: solid;
    border-block-color: black;
    height: min(45vw,350px);
    width: min(90vw,650px);
    margin-left: auto;
    margin-right: auto;
    font-family: "Tektur", sans-serif;
    font-size: min(2vw,16px);
    text-align:left;
}

.projects {
    animation: fadeIn linear;
    animation-timeline: view();
    background-color: #ebbe94;
    border-radius: 200px 200px 0 0;
    border-style: solid;
    border-block-color: black;
    height: min(11vw,150px);
    width: min(40vw,600px);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -0.5vh;
    font-family: "Tektur", sans-serif;
}