
.center {
    font-size: 100%;
    margin: auto;
    width: 50%;
    padding: 1vw;
}

head {
    font-size: 100%;
    text-align: center;
    align-items: center;
    padding: 1vw;
}

body
{
	font-size: 100%;
    	text-align: center;
    	align-items: center;
    	padding: 1vw;
    	background-color: #444444;
}

p 
{
	font-size: 100%;
    	text-align: center;
    	padding-left: 1vh;
    	padding-right: 1vh;
}

h1 
{
	font-size: 3.5vh;
    	text-align: center;
    	padding-left: 1vh;
    	padding-right: 1vh;
}

h3 
{
	    font-size: 2.5vh;
    	text-align: center;
    	padding-left: 1vh;
    	padding-right: 1vh;
    	margin-top: -3vh;
}

header {
	font-size: 100%;
    	font-family: "Tektur", sans-serif;
    	background-color: #ff4d4d;
    	margin-top: -30px;
}

input {
    font-size: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: "Tektur", sans-serif;
    width: 50vw;
    margin-top: -1.5vh;
    margin-bottom: -1.5vh;
}

textarea {
	font-size: 100%;
  	padding-top: 1vh;
   	padding-bottom: 1vh;
 	font-family: "Tektur", sans-serif;
    	width: 50vw;
	margin-top: -1.5vh;
	margin-bottom: -1.5vh;
}

button {
    font-size: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    font-family: "Tektur", sans-serif;
    width: 50vw;
    margin-top: -1.5vh;
}

h-captcha {
	font-size: 100%;
  	font-family: "Tektur", sans-serif;
  	width: 50vw;
	margin-top: -4vh;
}

footer {
	font-size: 100%;
	font-family: "Tektur", sans-serif;
	background-color: #ff4d4d;
}

.formboxes {
	font-size: 100%;
	width: 100%;
   	padding-top: 1.5vh;
   	padding-bottom: 1.5vh;
   	margin-left: auto;
   	margin-right: auto;
}

.youtube-container {
	font-size: 100%;
	text-align: center;
    	align-items: center;
   	overflow: hidden;
   	width: 50vw;
    	aspect-ratio: 16/9;
   	pointer-events: none;
	margin-left: auto;
   	margin-right: auto;

	iframe {
		text-align: center;
    		align-items: center;
    		width: 300%;
    		height: 100%;
		margin-left: -100%;
	}
}