
.center 
{
    	margin: auto;
    	width: 50%;
    	padding: 10px;
}

head
{
    	text-align: center;
    	align-items: center;
    	padding: 10px;
}

body
{
    	text-align: center;
    	align-items: center;
    	padding: 10px;
    	background-color: #444444;
}

p 
{
    	text-align: center;
    	padding-left: 25%;
    	padding-right: 25%;
}

h1 
{
	font-size: 250%;
    	text-align: center;
    	padding-left: 25%;
    	padding-right: 25%;
}

h3 
{
	font-size: 150%;
    	text-align: center;
    	padding-left: 25%;
    	padding-right: 25%;
    	margin-top: -30px;
}

header {
    	font-family: "Tektur", sans-serif;
    	background-color: #ff4d4d;
    	margin-top: -30px;
}

input {
  	padding-top: 12px;
   	padding-bottom: 12px;
 	font-family: "Tektur", sans-serif;
    	width: 50%;
	margin-top: -30px;
	margin-bottom: -10px;
}

textarea {
  	padding-top: 12px;
   	padding-bottom: 12px;
 	font-family: "Tektur", sans-serif;
    	width: 50%;
	margin-top: -10px;
	margin-bottom: -7px;
}

button {
  	padding-top: 12px;
   	padding-bottom: 12px;
    	font-family: "Tektur", sans-serif;
    	width: 50%;
	margin-top: -20px;
}

h-captcha {
  	font-family: "Tektur", sans-serif;
  	width: 50%;
	margin-top: -30px;
}

footer {
	font-family: "Tektur", sans-serif;
	background-color: #ff4d4d;
}

.formboxes {
	width: 100%;
   	padding-top: 12px;
   	padding-bottom: 12px;
   	margin-left: auto;
   	margin-right: auto;
}

.youtube-container {
	text-align: center;
    	align-items: center;
   	overflow: hidden;
   	width: 50%;
    	aspect-ratio: 16/9;
   	pointer-events: none;
	margin-left: auto;
   	margin-right: auto;

	iframe {
		text-align: center;
    		align-items: center;
    		width: 300%;
    		height: 100%;
		margin-left: -100%;
	}
}